.day {
    padding: 10px;
    font-size: 1rem;
    text-align: center;
}

.date {
    padding: 25px;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

table.calendar {
    box-sizing: content-box;
    padding: 10px;

    border-collapse: unset;

    tr {
        td {
            padding-top: 9px;
            padding-bottom: 9px;
            text-align: center;
            
            &.selected {
                border-radius: 50%;
                transform: scale(0.9);
                background-color: #26a69a;
                color: white;
            }
        }
    }
}