<section materialize class="z-depth-2">
  <div class="day teal darken-1 white-text">{{ dayString }}</div>
  <div class="date teal lighten-1 white-text">{{ dateString }}</div>
  <div class="year-and-month">
    <div class="year middle">
      <div class="arrow" (click)="setYearMonth(year + 1, month)">
        <div>▲</div>
      </div>
      <div>{{ year }}</div>
      <div class="arrow" (click)="setYearMonth(year - 1, month)">
        <div>▼</div>
      </div>
    </div>
    <div class="middle" style="padding-right: 0.5em;">年</div>
    <div class="month middle">
      <div class="arrow" (click)="setYearMonth(year, month + 1)">
        <div>▲</div>
      </div>
      <div>{{ ("0" + (month)).slice(-2) }}</div>
      <div class="arrow" (click)="setYearMonth(year, month - 1)">
        <div>▼</div>
      </div>
    </div>
    <div class="middle">月</div>
  </div>
  <table class="calendar">
    <thead>
      <tr>
        <td style="color: #f44336">日</td>
        <td>月</td>
        <td>火</td>
        <td>水</td>
        <td>木</td>
        <td>金</td>
        <td style="color: #2196f3">土</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of dateArray">
        <td
            *ngFor="let date of week"
            [class.selectable]="isAvailableDate(date)"
            [class.selected]="isSelected(date)"
            (click)="onDateClick(date)">{{ date ? date : "&nbsp;" }}</td>
      </tr>
    </tbody>
  </table>
</section>
