<section class="container">
  <div style="text-align:center">
    <h4>@{{ request.userName }} のツイート</h4>
  </div>
  <div class="">
    <div class="result">
      <div *ngIf="tweetResult === null" class="progress" style="margin-top: 12em; margin-bottom: 12em">
        <div class="indeterminate"></div>
      </div>
      <ul *ngIf="tweetResult !== null && tweetResult.tweets.length > 0">
        <li *ngFor="let tweet of tweetResult.tweets" class="avatar">
          <tweets-item [tweet]="tweet"></tweets-item>
        </li>
        <div class="sentinel">
          <img src="/assets/twitter.png" width="48" height="48" style="filter: grayscale(100%);">
        </div>
      </ul>
      <section *ngIf="tweetResult !== null && tweetResult.tweets.length === 0" class="no-items">
        <p>なにもありません</p>
      </section>
    </div>
    <div class="datepicker" class="calendar">
      <calendar-control (change)="onDateChange($event)"></calendar-control>
    </div>
  </div>
</section>
